/* =================================
    CONTACTO MAIN
================================= */

.contacto__main{
    width: 100%;
    display: flex;
    text-align: start;
    padding: 70px 50px 70px 50px;
}

.contacto__main--section{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 5px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 60px;
    padding: 30px 80px 30px 80px;
    font-family: 'Merriweather';
}

.contacto__main--section h2 {
    font-weight: 700;
    font-size: 30px;
}

.contacto__main--section h3 {
    font-weight: 600;
    font-size: 20px;
}

