/* =================================
    MEDIA QUERIES
================================= */
@media (max-width: 768px) {
    /* CATALOGO */
    .catalogo__main--h2 {
        font-size: 40px;
        font-family: 'Merriweather';
        padding-top: 20px;
    }
}