/* =================================
    MEDIA QUERIES
================================= */
@media (max-width: 768px) {
    /* HEADER Y NAVBAR */
    .navbar-collapse {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background-color: rgb(23, 32, 42);
        z-index: 1000;
        padding: 20px;
    }
    
    .navbar-toggler i {
        padding-top: 30px;
    }
    .header__menu {
        flex-direction: column;
        padding: 20px;
    }

    .header__lista {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 20px;
        padding-bottom: 20px;
    }

    .header__acciones {
        width: auto;
        margin-top: 20px;
        gap: 20px;
        padding-left: 30px;
    }

    .header__marca {
        padding-left: 20px;
    }

    /* BUSCADOR */
    .buscador__input {
        width: 60%;
    }

    /* IMAGENES */

    .productos {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .producto {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        align-items: center;
    }

    .producto h3{
        font-size: 10px;
    }

    .producto__imagen {
        max-width: 100%;
        width: 150px;
        height: auto;
    }

    .producto__titulo{
        font-size: 10px;
    }

    .producto__imagen{
        width: 100px;
    }

    .producto__descripcion{
        font-size: 7px;
    }

        /* FOOTER */
        #footer {
            flex-direction: column;
            height: auto;
            gap: 20px;
        }
    
        .footer__contenido {
            padding-left: 140px;
        }
    
        .footer__novedades {
            width: 100%;
            flex-direction: column;
            gap: 10px;
        }
    
        .footer__input {
            width: 100%;
        }
    
        .tema {
            width: 100%;
            justify-content: center;
        }
}

@media (max-width: 480px) {

    h1 {
        padding-right: 0;
    }
    .navbar {
        max-width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .navbar-toggler {
        max-width: 100%;
        background-color: rgb(23, 32, 42);
        border: none;
        color: #D5D8DC;
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .navbar-toggler i{
        padding: 0;
        margin: 0;
    }

    .navbar-collapse {
        background-color: rgb(23, 32, 42);
        width: 100%;
        padding: 10px;
    }

    .header__menu {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        text-align: center;
    }

    .header__lista {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .header__item {
        display: block;
        width: 100%;
        text-align: center;
    }

    .header__enlace {
        font-size: 18px;
        color: #D5D8DC;
        text-decoration: none;
    }

    .header__enlace:hover {
        color: #566573;
    }

    .header__acciones {
        margin-top: 10px;
        gap: 15px;
        justify-content: center;
    }

    .header__icono {
        font-size: 20px;
    }
    
    .header__titulo {
        padding-right: 0;
        font-size: 40px;
    }

    .header__imagen-logo {
        width: 80px;
    }

    .header__marca{
        padding-left: 0;
    }

    /*  BUSCADOR INPUT  */
    .buscador__input {
        width: 90%;
    }

    /*      MAIN        */
    .main__titulo-destacados {
        font-size: 30px;
    }

    /*  IMAGENES  */

    .producto {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        align-items: center;
    }

    .producto h3{
        font-size: 10px;
    }

    .producto__imagen {
        max-width: 100%;
        width: 150px;
        height: auto;
    }

    .producto__titulo{
        font-size: 10px;
    }

    .producto__imagen{
        width: 100px;
    }

    .producto__descripcion{
        font-size: 7px;
    }

    /*  FOOTER  */
    .footer__input {
        width: 100%;
    }
}